input{
		width: 300px;
		float: right;
	}

	
	div{
		width: 35%;
		height: 50px;
	}
	select{
		float: right;
        width: 310px;
        height: 30px;
        font-size: 20px;
	}
	textarea{
		float: right;
		width : 300px;

	}
	h4{
		display: inline;
		color: #FF00FF;
		font-size: 25px;
	}
	body{
		background-image: url("../images/food.jpg");
		background-size: cover;
		margin: 20px;
	}
	label{
		color: white;
		font-size: 25px;
		font-family :Arial;
		color: 	#FF00FF;
	}
	h1{
		text-align: center;
		font-family: Italian;
		font-variant: small-caps;
	    color: cyan;
	    font-size: 80px;   
     }
     footer{
     	clear: both;

     }
     h2{
     	text-align: center;
     	font-size: 50px;
     	font-family: Arial;
     	color:cyan;
     }
     
     	